
    <div id="ento_list" class="list-group">
      <a  href="culture" id="ento_link1" class="list-group-item">
        Entomophagy
      </a>
      <a href="recipe" id="ento_link2" class="list-group-item">Recipes</a>
      <a href="gallery" id="ento_link3" class="list-group-item">Gallery</a>
      <a href="scaleIt" id="ento_link4" class="list-group-item">Scale It</a>
    </div>