<div class="about-bg row">

<div class="row">
  <div class="col-xs col-lg-6">
    <h1 id="about_header">What is, "Hakuna matata?"</h1>
  </div>
  <div class="col-xs- col-lg-4">
    <h2 id="mission_head">Our mission</h2>
  </div>
</div>
<div class="row">

<div class="col-lg-offset col-lg-5" style="margin-left: 30px;">
  <div>
    <iframe id="hakuna_video" frameborder="0" height="400" scrolling="no" src="https://www.youtube.com/embed/xB5ceAruYrI" width="600">​
    </iframe>
  </div>
  <div><p id="hakuna_comment"> Skip to minute 2:00 for the best part :). This is what we are all about!! </p></div>

</div>
<div class="col-xs- col-lg-6">
  <div id="mission_parag">
    <p>
      To reach a point of no worries; an age of peace and prosperity, where no one goes hungry, and nothing is wasted. This is our dream, this is our passion, this is everything. The path that humanity is on right now, is a bumpy one, with LOTS of potholes. Nobody likes a pothole, nobody wants their tire popped because God didnt care enough to fix the road. My point is, theres always gonna be more potholes than there are workers to fill them in. Dont believe me? Prove me wrong. <br>
      <p>The only way to fix the pothole problem is to simply rip up all the roads and replace them with an unbreakable material. That is what we are doing, but with food. <br>
      + Cows are like potholes, except they dont pop your tire, they give you cancer.<br>
      + Pigs are like potholes, they are very muddy and covered in virus-infested water.<br>
      + Chickens are like the cement used to fill in the potholes; Mixed up, put on conveyor belts, cracked, injected, and sent off to fill in the gaps.<br></p>
      <p>See what I mean?<br></p>
      <p>We propose ripping up all meat farms, throwing out all the meat, and replacing them with insect farms!<br></p>
      Insects are beautiful vegetarian creatures, and they deserve to be recognized!<br>
      We are starting to get lots of attention, but people keep asking questions like "Well I can't just eat raw bugs, how do i cook them?" and we have a solution!<br> We provide a luxurious recipe service, right here on our site! Head over to the recipe section to check out our delicious recipes.<br> You can even add your own if you'd like!
    </p>
  </div>
</div>
  
</div>
  

</div>

