
<div class="row home-bg">
<div class="row">
  <div class="col-xs- col-lg-5">
    <div id="people_count">

      <div id="population-counter-container" class="container beveled shadow vertical-gradient">
        <div class="component-header alt">
        <p>Apr 28, 2016 21:37 UTC (+7)</p>
     </div>
    <div class="ffix">&nbsp;</div>
    <!-- U.S. population data -->
    <div id="us-pop-wrapper" class="lcol" style="display: none;">

        <!-- contains header, progress bar, and counter -->
        <div id="us-pop-container">
            <h3>U.S. Population</h3>
            <!-- population counter -->
            <p><span class="rolling-digit"><img src="//www.census.gov/popclock/images/strip-small.png" width="18" height="242" style="top: -66px;"></span><span class="rolling-digit"><img src="//www.census.gov/popclock/images/strip-small.png" width="18" height="242" style="top: -44px;"></span><span class="rolling-digit"><img src="//www.census.gov/popclock/images/strip-small.png" width="18" height="242" style="top: -66px;"></span><span>,</span><span class="rolling-digit"><img src="//www.census.gov/popclock/images/strip-small.png" width="18" height="242" style="top: -88px;"></span><span class="rolling-digit"><img src="//www.census.gov/popclock/images/strip-small.png" width="18" height="242" style="top: -88px;"></span><span class="rolling-digit"><img src="//www.census.gov/popclock/images/strip-small.png" width="18" height="242" style="top: -132px;"></span><span>,</span><span class="rolling-digit"><img src="//www.census.gov/popclock/images/strip-small.png" width="18" height="242" style="top: -132px;"></span><span class="rolling-digit"><img src="//www.census.gov/popclock/images/strip-small.png" width="18" height="242" style="top: -66px;"></span><span class="rolling-digit"><img src="//www.census.gov/popclock/images/strip-small.png" width="18" height="242" style="top: -7.82178px;"></span></p>
        </div>

        <!-- contains table with data types and progress bars -->
        <div id="us-pop-components-container">
                <p>Components of Population Change</p>
            <table summary="Placeholder for population rates table summary 1">
                <thead><tr><th scope="row">Rates</th><th>Visualization</th></tr></thead>
                <tbody><tr><td></td><td id="component-timestamp">21:37:10 UTC</td></tr><tr><td>One birth every <strong>8 seconds</strong></td><td id="pop-counter-progress-bar-0"><div class="html-progress-bar-track"><span class="html-progress-bar-bar" style="width: 25.3312px;"></span></div></td></tr><tr><td>One death every <strong>12 seconds</strong></td><td id="pop-counter-progress-bar-1"><div class="html-progress-bar-track"><span class="html-progress-bar-bar barIsReversed" style="width: 8.1125px;"></span></div></td></tr><tr><td>One international migrant (net) every <strong>28 seconds</strong></td><td id="pop-counter-progress-bar-2"><div class="html-progress-bar-track"><span class="html-progress-bar-bar" style="width: 7.24018px;"></span></div></td></tr><tr><td>Net gain of one person every <strong>13 seconds</strong></td><td id="pop-counter-progress-bar-3"><div class="html-progress-bar-track"><span class="html-progress-bar-bar" style="width: 26.6374px;"></span></div></td></tr></tbody>
            </table>
        </div>
        <div class="ffix">&nbsp;</div>
    </div>

    <!-- World population data -->
    <div id="world-pop-wrapper" class="rcol" style="display: block;">

        <!-- container header, progress bar, and counter -->
        <div id="world-pop-container">
            <h3>World Population</h3>
            <!-- population counter -->
            <p><span class="rolling-digit"><img src="//www.census.gov/popclock/images/strip-small.png" width="18" height="242" style="top: -154px;"></span><span>,</span><span class="rolling-digit"><img src="//www.census.gov/popclock/images/strip-small.png" width="18" height="242" style="top: -66px;"></span><span class="rolling-digit"><img src="//www.census.gov/popclock/images/strip-small.png" width="18" height="242" style="top: -44px;"></span><span class="rolling-digit"><img src="//www.census.gov/popclock/images/strip-small.png" width="18" height="242" style="top: -22px;"></span><span>,</span><span class="rolling-digit"><img src="//www.census.gov/popclock/images/strip-small.png" width="18" height="242" style="top: -44px;"></span><span class="rolling-digit"><img src="//www.census.gov/popclock/images/strip-small.png" width="18" height="242" style="top: -154px;"></span><span class="rolling-digit"><img src="//www.census.gov/popclock/images/strip-small.png" width="18" height="242" style="top: -110px;"></span><span>,</span><span class="rolling-digit"><img src="//www.census.gov/popclock/images/strip-small.png" width="18" height="242" style="top: -110px;"></span><span class="rolling-digit"><img src="//www.census.gov/popclock/images/strip-small.png" width="18" height="242" style="top: -94.8206px;"></span><span class="rolling-digit"><img src="//www.census.gov/popclock/images/strip-small.png" width="18" height="242" style="top: -204.821px;"></span></p>
        </div>

        <!-- contains two tables with population on date -->
        <div id="world-pop-historical">
                <p><a href="./world" title="International Programs - Country Rank">Top 10 Most Populous Countries</a></p>
            <table><thead><tr><th colspan="6"><a href="./world" title="International Programs - Country Rank">Top 10 Most Populous Countries</a></th></tr><tr><th>Rank. Country</th><th>Population</th><th>Rank. Country. Population</th><th>NaN</th></tr></thead><tbody><tr><td>1. China</td><td align="right">1,373,541,278</td><td>&nbsp;&nbsp;6. Pakistan</td><td align="right">201,995,540</td></tr><tr><td>2. India</td><td align="right">1,266,883,598</td><td>&nbsp;&nbsp;7. Nigeria</td><td align="right">186,053,386</td></tr><tr><td>3. United States</td><td align="right">323,995,528</td><td>&nbsp;&nbsp;8. Bangladesh</td><td align="right">171,696,855</td></tr><tr><td>4. Indonesia</td><td align="right">258,316,051</td><td>&nbsp;&nbsp;9. Russia</td><td align="right">142,355,415</td></tr><tr><td>5. Brazil</td><td align="right">205,823,665</td><td>&nbsp;&nbsp;10. Japan</td><td align="right">126,702,133</td></tr></tbody></table>
            <table>
            </table>
        </div>
        <div class="ffix">&nbsp;</div>
    </div>
        <div class="ffix">&nbsp;</div>
</div>


    </div>
  </div>
</div>
</div>

