
<div class="row home-bg">
<div class="row">
  <div class="col-xs- col-lg-5">
    <div id="people_count">
      <iframe height='100' src='https://www.theworldcounts.com/counters/shocking_environmental_facts_and_statistics/world_population_clock_live/embed?background_color=black&color=white&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=25&token=5051b10683eb9065eae2ceedd20dea6c0dd8b630' style='border: none' width='300'></iframe>

    </div>
  </div>
</div>
</div>

