
<div class="row home-bg">
<div class="row">
  <div class="col-lg-offset-1 col-lg-3">
    <div id="">
      <script type="text/javascript">

/*
* World Populution Counter - By JavaScript Kit (http://www.javascriptkit.com)
* Based on code by Adam Brown
* This notice MUST stay intact for use
* Visit JavaScript Kit (http://www.javascriptkit.com) for this script and more
*/

function maind(){
  startdate = new Date()
  now(startdate.getYear(),startdate.getMonth(),startdate.getDate(),startdate.getHours(),startdate.getMinutes(),startdate.getSeconds())
}


function ChangeValue(number,pv){
  numberstring =""
  var j=0 
  var i=0
  while (number > 1)
   { 

      numberstring = (Math.round(number-0.5) % 10) + numberstring
      number= number / 10
      j++
      if (number > 1 && j==3) { 
      numberstring = "," + numberstring 
      j=0}
      i++
   }

   numberstring=numberstring

if (pv==1) {document.getElementById("worldpop").innerHTML=numberstring }
}


function now(year,month,date,hours,minutes,seconds){       
startdatum = new Date(year,month,date,hours,minutes,seconds)

var now = 5600000000.0
var now2 = 5690000000.0
var groeipercentage = (now2 - now) / now *100
var groeiperseconde = (now * (groeipercentage/100))/365.0/24.0/60.0/60.0 
nu = new Date ()                
schuldstartdatum = new Date (96,1,1)                            
secondenoppagina = (nu.getTime() - startdatum.getTime())/1000
totaleschuld= (nu.getTime() - schuldstartdatum.getTime())/1000*groeiperseconde + now
ChangeValue(totaleschuld,1);


timerID = setTimeout("now(startdatum.getYear(),startdatum.getMonth(),startdatum.getDate(),startdatum.getHours(),startdatum.getMinutes(),startdatum.getSeconds())",200)
}

window.onload=maind
  </script>
    <div id="world_pop_div">
      Current world population (estimated): <span id="worldpop" style="font-weight: bold"></span>.
    </div>
    </div>
  </div>
  <div class="col-xs- col-lg-4">
      <div id="alarm_pop_box">
      <p>Each year, around 70 million people are added to the world’s population. To feed all of those hungry mouths, we will need to produce almost twice as much food as we currently do.
      We already use 70% of agricultural land to raise livestock, oceans are overfished, environments are polluted and climate change/disease threaten crop production.</p></div>
      </div>
</div>
<div class="row">
  <div class="col-xs- col-lg-3">
    <h2 class="issues_head">Issues</h2>
    <div class="issue_div">
    <h4 class="issue_h4">Meat is very "inefficient" food</h4>
    <p class="issue_p">Meat has a much higher “energy footprint” than any other food. It takes 75 times more energy to produce meat than corn. And it takes an area of vegetation 7 times the size of the EU to produce food for the cattle and other livestock animals in Europe.</p>
    </div>
    <br>
    <div class="issue_div">
    <h4 class="issue_h4">Maybe too "inefficient"</h4>
    <p class="issue_p">One hectare of rice or potato cropland can feed between 19 and 22 people in one year. For beef or lamb one hectare can feed only 1 or 2 people. But cropland is shrinking. By 2050, we may have less than 0.1 hectares per person on the planet.</p>
    </div>
    <br>
    <div class="issue_div">
    <h4 class="issue_h4">Meat consumption contributes to global food crisis</h4>
    <p class="issue_p">Almost HALF of the world’s harvest is fed to animals. Globally, 90 percent of the ever-increasing soybean harvest goes for animal feed.</p>
    </div>
    <br>
    <div class="issue_div">
    <h4 class="issue_h4">Half the water consumed in the U.S. is used to grow grain for cattle feed. </h4>
    <p class="issue_p">Some 70 to 80% of grain produced in the United States is fed to livestock.
    Not only is land used up to grow grain to feed cattle, but additional land is of course required for pastures and grazing. Furthermore, overgrazing leads to land degradation while top soil loss and water wastage and depletion are also extremely urgent issues.</p>
    </div>
  </div> 
  <div class="col-xs- col-lg-3">
       <h2 class="issues_head">Solutions</h2>
       <div class="issue_div">
        <h4 class="issue_h4">Consume Critters!</h4>
          <p class="issue_p">Critters require fewer resources—specifically, feed, land, and water—than other popular sources of protein such as poultry, pigs, and cattle.  Insects are better at converting feed to protein compared to larger livestock. Bugs can live on “organic side-streams“ — like food industry byproducts — to help reduce environmental waste.</p>
          </div>
        <br>
        <div class="issue_div">
        <h4 class="issue_h4">Enter Entomorphagy</h4>
          <p class="issue_p">The inefficiency of conversion from feed into animal protein (approx. 10 kg of feed = 1  kg of beef) means there is a significant black hole in global food production. Insects possess much higher levels of efficiency (approx. 10 kg of feed = 9 kg of crickets)</p>
          </div>
        <br>
        <div class="issue_div">
        <h4 class="issue_h4">Think bugs are gross? Well it wasn’t that long ago we thought sushi was too.</h4>
          <p class="issue_p">Not long ago, few thought that raw fish — handled by gloveless human hands, no less — could appeal to an American palate. Plenty of other cultures eat bugs. Who’s to say that, 30 years from now, people won’t think twice about going out to a trendy bug bar?</p>
          </div>
     </div>
     <div class="col-lg-offset- col-lg-5">
    <div id="cricket_1_holder">
    <img id="cricket_1" src="https://image-cdn.symphonycommerce.com/images/sites/exoprotein/1436467874551_1432674334493_HandoutCricketInfographicHorizontal-3.png">
    </div>
  </div>   
  </div>
</div>

