
<div class="row home-bg">
<div class="row">
  <div class="col-lg-offset-1 col-lg-5">
    <div id="">
      <script type="text/javascript">

/*
* World Populution Counter - By JavaScript Kit (http://www.javascriptkit.com)
* Based on code by Adam Brown
* This notice MUST stay intact for use
* Visit JavaScript Kit (http://www.javascriptkit.com) for this script and more
*/

function maind(){
  startdate = new Date()
  now(startdate.getYear(),startdate.getMonth(),startdate.getDate(),startdate.getHours(),startdate.getMinutes(),startdate.getSeconds())
}


function ChangeValue(number,pv){
  numberstring =""
  var j=0 
  var i=0
  while (number > 1)
   { 

      numberstring = (Math.round(number-0.5) % 10) + numberstring
      number= number / 10
      j++
      if (number > 1 && j==3) { 
      numberstring = "," + numberstring 
      j=0}
      i++
   }

   numberstring=numberstring

if (pv==1) {document.getElementById("worldpop").innerHTML=numberstring }
}


function now(year,month,date,hours,minutes,seconds){       
startdatum = new Date(year,month,date,hours,minutes,seconds)

var now = 5600000000.0
var now2 = 5690000000.0
var groeipercentage = (now2 - now) / now *100
var groeiperseconde = (now * (groeipercentage/100))/365.0/24.0/60.0/60.0 
nu = new Date ()                
schuldstartdatum = new Date (96,1,1)                            
secondenoppagina = (nu.getTime() - startdatum.getTime())/1000
totaleschuld= (nu.getTime() - schuldstartdatum.getTime())/1000*groeiperseconde + now
ChangeValue(totaleschuld,1);


timerID = setTimeout("now(startdatum.getYear(),startdatum.getMonth(),startdatum.getDate(),startdatum.getHours(),startdatum.getMinutes(),startdatum.getSeconds())",200)
}

window.onload=maind
</script>
<div id="world_pop_div">
Current world population (estimated): <span id="worldpop" style="font-weight: bold"></span>.
</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs- col-lg-3">
    <h2 id="issues_head">Issues</h2>
    <h4>Meat is very "inefficient" food</h4>
    <p>Meat has a much higher “energy footprint” than any other food. It takes 75 times more energy to produce meat than corn. And it takes an area of vegetation 7 times the size of the EU to produce food for the cattle and other livestock animals in Europe.</p>
    <br>
    <h4>Maybe too "inefficient"</h4>
    <p>One hectare of rice or potato cropland can feed between 19 and 22 people in one year. For beef or lamb one hectare can feed only 1 or 2 people. But cropland is shrinking. By 2050, we may have less than 0.1 hectares per person on the planet.</p>
    <br>
    <h4>Meat consumption contributes to global food crisis</h4>
    <p>Almost HALF of the world’s harvest is fed to animals. Globally, 90 percent of the ever-increasing soybean harvest goes for animal feed.</p>
  </div>
  <div class="col-lg-offset- col-lg-5">
    <div id="cricket_1_holder">
    <img id="cricket_1" src="https://image-cdn.symphonycommerce.com/images/sites/exoprotein/1436467874551_1432674334493_HandoutCricketInfographicHorizontal-3.png">
    </div>
  </div> 
  <div class="col-xs- col-lg-3">
       <h2 id="issues_head">Solutions</h2>
        <h4></h4>
          <p></p>
        <br>
        <h4></h4>
          <p></p>
        <br>
        <h4></h4>
          <p></p>
     </div>   
  </div>
</div>

