
<div class="row home-bg">
<div class="row">
  <div class="col-xs- col-lg-5">
    <div id="people_count">
      <iframe height='100' src='http://www.theworldcounts.com/counters/shocking_environmental_facts_and_statistics/world_population_clock_live/embed?background_color=black&color=white&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=25&token=22dc3a82da319c6b99a94910e54b9d658f453022' style='border: none' width='300'></iframe>

    </div>
  </div>
</div>
</div>

