<div class="culture-bg row">
<div class="row">
  <div class="col-xs- col-lg-2">
    <% include ../partials/entoPartial.ejs %>
  </div>
  <div class="col-xs- col-lg-4">
    <h1 id="ento_head">Entomophagy</h1>
    <div id="ento_paragraph_holder">
      <p id="ento_paragraph">Entomophagy is the technical term for eating insects. Humans have harvested the eggs, larvae, pupae and adults of certain insect species from forests or other suitable habitats to eat for thousands of years. This practice is still common in many tropical countries where certain insect species grow to large sizes, and they are abundant and relatively easy to harvest year round. Insects as food are an excellent source of proteins, vitamins, fats, and essential minerals. There is a strong case in favor of mass rearing insects for food as this practice is probably less environmentally damaging than other forms of protein production. For example clearing tropical rain forests and farming cattle for meat is highly damaging. In comparison to cattle, insects are five times more efficient at converting food into edible tissue, and when considering this together with their high reproductive rates and quick developmental times, the food conversion efficiency of insects maybe 20 times that of cattle! </p>
    </div>
  </div>
</div>
</div>

