<div class="gallery-bg row">

<div class="row">
  <div class="col-xs- col-lg-2">
    <% include ../partials/entoPartial.ejs %>
  </div>
  <div class="col-xs- col-lg-offset-1 col-lg-6">
    <h1>Test gallery page</h1>
    <div id="slideshow">
      <style>
        .mySlides {display:none}
        .w3-left, .w3-right, .w3-badge {cursor:pointer}
        .w3-badge {height:13px;width:13px;padding:0}
      </style>

      <div class="slide_box w3-content w3-display-container" style="max-width:800px">
          <img class="mySlides" src="http://media.al.com/news_impact/photo/30-days-of-bugs-399139faec0eb13d.jpg" style="width:100%">
          <img class="mySlides" src="http://static3.businessinsider.com/image/51f297ef6bb3f79a5d000006/the-author-of-the-eat-a-bug-cookbook-explains-how-to-make-tarantulas-taste-good.jpg" style="width:100%">
          <img class="mySlides" src="http://www.travelandleisure.com/sites/default/files/styles/1600x1000/public/bug0415-bug-chef-grasshoppers.jpg?itok=ML1mqWBF" style="width:100%">
          <img class="mySlides" src="http://ssl.marketplace.org/sites/default/files/Crickets%202.jpg" style="width:100%">
          <img class="mySlides" src="https://edibug.files.wordpress.com/2011/05/bee-lt.jpg" style="width:100%">
          <img class="mySlides" src="https://ruralsociologywageningen.files.wordpress.com/2011/02/sta73261.jpg" style="width:100%">
          <div class="w3-center w3-section w3-large w3-text-white w3-display-bottomleft" style="width:100%">
            <div class="w3-left w3-padding-left w3-hover-text-khaki" onclick="plusDivs(-1)">❮</div>
            <div class="w3-right w3-padding-right w3-hover-text-khaki" onclick="plusDivs(1)">❯</div>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
          </div>
        </div>

      <script>
      var slideIndex = 1;
      showDivs(slideIndex);

      function plusDivs(n) {
        showDivs(slideIndex += n);
      }

      function currentDiv(n) {
        showDivs(slideIndex = n);
      }

      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) {slideIndex = 1}    
        if (n < 1) {slideIndex = x.length} ;
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";  
        }
        for (i = 0; i < dots.length; i++) {
           dots[i].className = dots[i].className.replace(" w3-white", "");
        }
        x[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " w3-white";
      }
      </script>
    </div>
  </div>
</div>
</div>
