

<div class="recipe-bg row">
<div class="row">
  <div class="col-xs- col-lg-2">
    <% include ../partials/entoPartial.ejs %>
  </div>
      <div class="col-xs- col-lg-5">
      <div id="createRecipe">
      <h1>Add your own recipe!</h1>
        <form method="POST" action="/entomophagy/recipe">
          <div>
            <label>Title:  <input type="text" name="title" required></input></label>
          </div>
          <div>
            <label>Servings:  <input type="integer" name="serving" required></input></label>
          </div>

          <h4>Ingredients</h4>
            <div id="p_ingrd">
              <p>
              <select class="selectBox" name="type">
                <option value="insect">Insect</option>
                <option value="veggie">Vegetable</option>
                <option value="condiment">Condiment</option>
                <option value="other">Other</option>
              </select>
              <br>
              <label>Name:  <input type="text" name="ingredient" required></input></label>
              <label>Amount:  <input type="text" name="amount" required></input></label>
              </p>
            </div>
          <little><a href="#" id="addIngrd">New ingredient</a></little>
          <div id="directions">
            <h5>Step 1:</h5>
            <p>
            <textarea name="step" rows="2" cols="50" required></textarea>
            </p>
          </div>
          <little><a href="#" id="addStep">New Step</a></little>
          <div>
            <h4>Notes:</h4>
            <p>
              <textarea name="notes" rows="8" cols="30"></textarea>
            </p>
          </div>
          <div id="reviews">
                      
          </div>
          <div>
            <p><input type="submit" value="Submit"></input></p>
          </div>

        </form>
        </div>
      </div>
      <div class="col-xs- col-lg-4">
        <h2 id="recipe_head">Recipes:</h2>
        <% include showRecipe %>
      </div>
    </div>
    </div>






  