<div class="scale-bg row">

<div class="row">
  <div class="col-xs- col-lg-2">
    <% include ../partials/entoPartial.ejs %>
  </div>
  <div class="col-xs- col-lg-4">
    <h1>Scale it down!</h1>
  </div>
</div>
</div>
